@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:900');

/*Media query for small screens*/
@media only screen and (min-width:0px){
body{
	background-color: #f9f9f9;
	margin: 0;
	padding: 0;
	/*overflow-x: hidden;*/
}

/*Creating the grid for phone*/
.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"title" "time" "weather" "memes" "credits";
	grid-gap: 3%;
	margin-left: 1%;
	margin-right: 1%;
}

/*All grid items*/
.grid-item{
	display: flex;
	flex-flow: column;
	align-items: center;
	/*justify-content: center;*/
	
	background-color: #ffffff;
}

/*The logo*/
.header{
	grid-area: title;
	color: #504063;
	font-family: source sans pro;
	font-weight: 900;
	font-size: 45px;
	
	text-align: center;
	margin: 2%;
}

/*DIV style for weather*/
#weather{
	grid-area: weather;
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*I want the weather icon from the API  to be shown with a black and white filter*/
.weathericon{
	filter: grayscale(100%);
}

/*Title style for weather*/
.weathertitle{
	color: white;
}

#time{
	grid-area: time;
	/*Font styles*/
	color: white;
	font-family: source sans pro;
	font-weight: 300;
    font-size: 35px;
	padding: 2%;
	/*DIV styles*/
	background: #42275a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #734b6d, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Date style*/
#dateDisplay{
	font-size: 20px;
}

#memes{
	grid-area: memes;
}

/*Creds to myself style*/
.creds{
	grid-area: credits;
	text-align: center;
	color: #504063;
	font-family: source sans pro;
	font-weight: 300;
	margin: 0;
	margin-bottom: 2%;
}


.title{
	color: #1f083a;
	font-family: source sans pro;
	font-weight: 600;
	font-size: 30px;
	margin: 0;
	text-align: center;
}

/*TEXT style for meme paragraph*/
.exp{
	color: #1f083a;
	font-family: source sans pro;
	font-weight: 200;
	font-size: 15px;
	margin: 2%;
	margin-bottom: 0;
	text-align: center;
}


h2{
	color: #716084;
	font-family: source sans pro;
	font-weight: 300;
	font-size: 35px;
	margin: 0;
}

/*Dont show the titles for time and temperature on phone*/
.title{
	display: none;
}
 
/*Show title for memes*/
.m_title{
	display: inline;
}
}

@media only screen and (min-width:768px){
/*Change font sizes for tablet*/
.creds{
	font-size: 18px;
}

.exp{
	font-size: 17px;
}

.m_title{
	font-size: 35px;
}
}

@media only screen and (min-width:1366px){
.grid-container{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas:"title title" "time weather" "memes memes" "credits credits";
	grid-gap: 1%;
	margin-left: 15%;
    margin-right: 15%;
}

.title{
	display: inline;
}

.w_title{
	color: white;
}

.weathericon{
	width: 10%;
	height: auto;
}

#gifbox{
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 50%;
	height: auto;
}

.gifs{
	margin: 2%;
	border-style: solid;
	border-width: 5px;
	border-color: #504063 ;
}

.exp{
	padding: 1%;
}

}